@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --green2: hsl(154, 60%, 53%);
  --green3: hsl(154, 70%, 56%);
  --blue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%, 0.3);
  --grayishBlue: hsl(246, 25%, 77%);
  --white: #fff;
  --fontFamily: "Poppins", sans-serif;
  --fontSize: 1rem;
  --w1: 400;
  --w2: 500;
  --w3: 600;
  --w4: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--fontFamily);
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: var(--fontSize);
  font-weight: var(--w1);
  background-color: var(--red);
  color: var(--white);
}

#overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/bg-intro-desktop.png");
  opacity: 0.8;
  z-index: -9999999;
}

#main-container {
  width: 80%;
  min-width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#main {
  width: 50%;
}

#main h1 {
  font-size: 4rem;
}

#main p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

#form {
  width: 53%;
  height: 65%;
  display: flex;
  flex-direction: column;
}

.fre-trial {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--blue);
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0px 7px 0px 0px var(--darkBlue);
}

.fre-trial p {
  width: 100%;
  font-size: 1.6rem;
  font-weight: var(--w2);
}

.fre-trial p span {
  color: var(--grayishBlue);
}

.form-container {
  background-color: var(--white);
  border-radius: 1rem;
}

.form-container p {
  text-align: center;
  color: var(--grayishBlue);
  margin-bottom: 4rem;
}

.form-container p a {
  color: var(--red);
  font-weight: var(--w4);
  text-decoration: none;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2.5rem 1rem 0rem 1rem;
}

.form input {
  width: 90%;
  padding: 2rem;
  border: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: var(--w3);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.btn {
  width: 90%;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: var(--w3);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  border: none;
  box-shadow: inset 0px -5px 0px 0px var(--darkBlue);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green2);
}

.btn:active {
  background-color: var(--green3);
  transform: scale(0.95);
}

.form span {
  align-self: end;
  margin-right: 4rem;
  font-weight: var(--w3);
  width: 50%;
  font-size: 1.3rem;
  color: var(--red);
  text-align: right;
  opacity: 0;
}
