@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }

  #main-container {
    width: 70%;
    flex-direction: column;
    justify-content: center;
  }

  #main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }

  #main h1 {
    align-self: center;
    font-size: 5.5rem;
  }

  #main p {
    align-self: center;
    font-size: 3.2rem;
    text-align: center;
  }

  #form {
    width: 80%;
  }

  .fre-trial {
    padding: 3.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    box-shadow: 0px 4px 0px 0px var(--darkBlue);
  }

  .fre-trial p {
    width: 70%;
    font-size: 2.5rem;
  }

  .form-container {
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 4px 0px 0px var(--darkBlue);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form-container p {
    align-self: center;
    width: 73%;
    font-size: 2rem;
  }

  .form {
    height: 100%;
    border-radius: 2rem;
    padding: 2rem;
  }

  .form input {
    padding: 3rem;
    border: none;
    border: 1px solid var(--grayishBlue);
    border-radius: 1rem;
    font-weight: var(--w4);
    font-size: 2rem;
  }

  .btn {
    padding: 3rem;
    box-shadow: inset 0px -2.5px 0px 0px var(--darkBlue);
    font-size: 2.5rem;
  }
}
